.logoWrapper {
    height: 55px;
}

.customMenuItem {
    :global {
        .ant-menu-item {
            padding-inline: 0 !important;
            background-color: aqua !important;
        }
       
    }
}