.overdueOutcome {
  border-color: #fca5a5;
  --tw-shadow-color: #fca5a5;
  box-shadow: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -1px var(--tw-shadow-color);
}
.doneOutcome {
  border-color: #4ade80;
  --tw-shadow-color: #4ade80;
  box-shadow: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -1px var(--tw-shadow-color);
}
.processingOutcome {
  border-color: #38bdf8;
  --tw-shadow-color: #38bdf8;
  box-shadow: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -1px var(--tw-shadow-color);
}
.unSubmittedActiveOutcome {
  border-color: #fbbf24;
  --tw-shadow-color: #fbbf24;
  box-shadow: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -1px var(--tw-shadow-color);
}
